.full-width {
  width: 100%;
}

#loginContainer {
  display: table;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.alert {
  color: red;
}

#loginForm,
#signUpForm {
  width: 350px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.formInputs {
  margin-top: 15px;
}

.card-header {
  font-weight: bold;
  font-size: 125%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#spinner {
  margin-left: 45%;
}
